@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
:root {
    /* font-family */
    --ff: 'Poppins', sans-serif;
    /* font-weight */
    --fw-bold: 700;
    --fw-regular: 400;
    --fw-thin: 200;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
}
/* General Styling */
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    background: -webkit-gradient(linear, left top, right top, from(#468185), to(#284B63));
    background: -o-linear-gradient(left, #468185, #284B63);
    background: linear-gradient(to right, #468185, #284B63);
    font-family: var(--ff);
    font-size: 1rem; 
}
main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/* Header styling */
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1em 2.5em 5em 2em;
}
header h1 {font-size: 2rem; color: white;}
header a {
    font-size: .75rem;
    color: #D9D9D9;
    font-weight: var(--fw-thin);
    text-decoration: none;
}
header p {
    color: white;
    font-weight: var(--fw-thin);
    font-size: .75rem;
}
header p span {font-size: 1rem; word-break: break-all; margin-right: 10px; font-weight: var(--fw-regular); cursor: pointer;}
/* Secondary Heading Styling */
h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: var(--fw-regular);
}
/* Form's Container Styling */
.todo-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #efefef40 ;
    max-width: 900px;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 2em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#todo-input {
    border: none;
    padding: .5em 1em;
    width: 90%;
    font-size: 1rem;
    font-weight: var(--fw-regular);
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#add-btn {
    border: none;
    background: #468185;
    color: white;
    padding: .5em;
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    cursor: pointer;
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#add-btn:hover {background: #3c6e7170;}
/* Status of Todo Styling */
.status-todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #efefef40 ;
    max-width: 900px;
    width: 80%;
    border: none;
    border-radius: 5px;
    margin: 1em 0;
    padding: 1em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.status-todo h3 {
    color: white;
    font-weight: var(--fw-regular);
    border-bottom: .5px solid white;
    cursor: pointer;
}
.status-todo h3:hover {color: rgba(255, 255, 255, 0.626);}
.status-todo button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    background: #468185;
    color: white;
    font-size: 1rem;
    font-weight: var(--fw-bold);
    padding: .75em;
    margin-top: 5px;   
    cursor: pointer;
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.status-todo button:hover {background: #3c6e7170;}
.status-todo i {margin-left: .5em; font-size: 1rem;}
/* Element Lists Container Styling */
.list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 900px;
    width: 80%;
    border: none;
    border-radius: 5px;
}
.list-el, .empty-el {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #efefef40;
    color: white;
    width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 5px;
    margin: .25em 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.empty-list {
    margin: auto;
}
input[type=checkbox]:checked + label{
    text-decoration: line-through;
  }
.delete-btn {
    border: none;
    background: #468185;
    color: white;
    padding: .5em;
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
    cursor: pointer;
}
#delete-btn:hover{background: #3c6e7170;}
#todo-el {line-break: auto; margin-left: 1em;
}

/* footer styling */
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #fff;
    font-weight: var(--fw-thin);
    font-size: .75rem;
    margin-top: 3em;
}

footer a {
    margin-left: 2px;
    font-size: .85rem;
    color: #D9D9D9;
    font-weight: var(--fw-thin);
    text-decoration: underline;
}

footer a:hover {
    color: #d9d9d9b2;
}

/* User sidebarMenu styling */

.user-sidebar{
    cursor: pointer;
}

.user-menu{
    display: none;
    position:fixed;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background: #efefef40;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 3px;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    width: 80px;
}
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
@keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

.fa-user {
    border-radius: 5px;
    border: 1px solid white;
    padding: 2px;
    cursor: pointer;
}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
    list-style-type: none;
}

.user-menu li{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
    padding: 5px;
}

.user-menu li:hover {
    border-radius: 5px;
    background-color: #efefef90;
    color: black;
}

.user-menu a{
    color: #fff;
    font-weight: var(--fw-regular);
    margin-left: 5px;
}

#logout {
    font-weight: var(--fw-regular);
    margin-left: 5px;
}